.list-item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}
.item-para{
   color: black;
   margin: 0px;
   padding: 6px;
   align-self: flex-end;
}
.delete{
   align-self: flex-end !important;
}
.delete-button{
   background-color: transparent;
   border: none !important;
   align-items: center;
}